@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  background-color: hsl(30deg, 38%, 92%);
  display: grid;
  place-items: center;
  height: 100%;
  font-family: "Montserrat";
}

.container {
  max-width: 1200px;
  padding: 0 15%;
}

.product__container {
  width: 100%;
  height: 80vh;
  margin: auto;
  border-radius: 15px;
  display: flex;
}

.product__image--container {
  background: url("../images/image-product-desktop.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  border-radius: 15px 0 0 15px;
}

.product__details--container {
  background-color: hsl(0deg, 0%, 100%);
  padding: 0 5%;
  border-radius: 0 15px 15px 0;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.product__details--title {
  color: hsl(228deg, 12%, 48%);
  letter-spacing: 0.4em;
}

.product__details--name {
  font-family: "Fraunces";
  font-size: 3em;
  color: hsl(212deg, 21%, 14%);
  font-weight: 700;
  line-height: 1;
}

.product__details--description {
  font-size: 1.2em;
  color: hsl(228deg, 12%, 48%);
  line-height: 1.8;
}

.product__price--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product__price--container .product__price--sold {
  font-family: "Fraunces";
  font-size: 2.4em;
  color: hsl(158deg, 36%, 37%);
  font-weight: 700;
}
.product__price--container .product__price--true {
  color: hsl(228deg, 12%, 48%);
  text-decoration: line-through !important;
}

.product__card--actions button {
  background-color: hsl(158deg, 36%, 37%);
  width: 100%;
  border: 0;
  padding: 5%;
  border-radius: 10px;
  color: hsl(0deg, 0%, 100%);
  font-size: 1.2em;
  font-weight: 700;
}
.product__card--actions button:hover {
  background-color: hsl(160deg, 40%, 25%);
  border-radius: 10px;
  cursor: pointer;
}

@media screen and (max-width: 1440px) and (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }

  .product__container {
    width: 100%;
    height: 60vh;
    margin: auto;
    border-radius: 15px;
    display: flex;
  }

  .product__image--container {
    background: url("../images/image-product-desktop.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    border-radius: 15px 0 0 15px;
  }

  .product__details--container {
    background-color: hsl(0deg, 0%, 100%);
    padding: 0 5%;
    border-radius: 0 15px 15px 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .product__details--title {
    color: hsl(228deg, 12%, 48%);
    letter-spacing: 0.4em;
  }

  .product__details--name {
    font-family: "Fraunces";
    font-size: 3em;
    color: hsl(212deg, 21%, 14%);
    font-weight: 700;
    line-height: 1;
  }

  .product__details--description {
    font-size: 1.2em;
    color: hsl(228deg, 12%, 48%);
    line-height: 1.8;
  }

  .product__price--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .product__price--container .product__price--sold {
    font-family: "Fraunces";
    font-size: 2.4em;
    color: hsl(158deg, 36%, 37%);
    font-weight: 700;
  }
  .product__price--container .product__price--true {
    color: hsl(228deg, 12%, 48%);
    text-decoration: line-through;
  }

  .product__card--actions button {
    background-color: hsl(158deg, 36%, 37%);
    width: 100%;
    border: 0;
    padding: 5%;
    border-radius: 10px;
    color: hsl(0deg, 0%, 100%);
    font-size: 1.2em;
    font-weight: 700;
  }
  .product__card--actions button:hover {
    background-color: hsl(160deg, 40%, 25%);
    border-radius: 10px;
    cursor: pointer;
  }
}
@media screen and (max-width: 980px) {
  .container {
    max-width: 960px;
    padding: 0 10%;
  }

  .product__container {
    width: 100%;
    height: 60vh;
    margin: auto;
    border-radius: 15px;
    display: flex;
  }

  .product__image--container {
    background: url("../images/image-product-desktop.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    border-radius: 15px 0 0 15px;
  }

  .product__details--container {
    background-color: hsl(0deg, 0%, 100%);
    padding: 0 5%;
    border-radius: 0 15px 15px 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .product__details--name {
    font-size: 2em;
  }

  .product__details--description {
    font-size: 1em;
    line-height: 1.6;
  }

  .product__price--container .product__price--sold {
    font-size: 2em;
    font-weight: 700;
  }
  .product__price--container .product__price--true {
    text-decoration: line-through;
  }

  .product__card--actions button {
    font-size: 1em;
  }
  .product__card--actions button:hover {
    background-color: hsl(160deg, 40%, 25%);
    border-radius: 10px;
    cursor: pointer;
  }
}
@media screen and (max-width: 600px) {
  html,
body {
    padding: 0 5%;
  }

  .container {
    max-width: 100%;
    padding: 0%;
  }

  .product__container {
    width: 100%;
    flex-direction: column;
  }

  .product__image--container {
    background: url("../images/image-product-mobile.jpg") no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    border-radius: 15px 15px 0 0;
  }

  .product__details--container {
    padding: 5%;
    border-radius: 0 0 15px 15px;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
  }

  .product__details--title {
    font-size: 0.8em;
  }

  .product__details--name {
    font-size: 2.4em;
    margin: 5% 0;
  }

  .product__details--description {
    font-size: 1em;
  }

  .product__price--container {
    margin: 15% 0 5%;
    display: flex;
    justify-content: flex-start;
  }
  .product__price--container .product__price--sold {
    font-size: 2em;
    margin: 0 10% 0 0;
  }

  .product__card--actions button {
    font-size: 1em;
  }
  .product__card--actions button:hover {
    background-color: hsl(160deg, 40%, 25%);
    border-radius: 10px;
    cursor: pointer;
  }
}

/*# sourceMappingURL=style.css.map */
